body {
  font-family: sans-serif; }

h1 {
  padding: .5em 0 0 0;
  margin: 0; }

#rootBugNum {
  background: #ddd;
  padding: .1em; }
  #rootBugNum:hover {
    background: #eee;
    padding: -moz-calc(.1em - 2px);
    border: solid 2px #ccc; }

input {
  font-size: inherit; }

.defaultText {
  color: gray; }

.bugSummary:before {
  content: " "; }

.bugLink {
  padding-right: .3em;
  text-decoration: none; }
  .bugLink:hover {
    text-decoration: underline; }

.assignedToHeader {
  font-style: italic; }

.bug td {
  vertical-align: top;
  padding: 0; }

#networkStatus {
  font-style: italic; }
