body {
  font-family: sans-serif;
}

h1 {
  padding: 0 0 0 0;
}

#rootBugNum {
  background: #ddd;
  padding: .1em;
}

input {
  font-size: 16pt;
}

.defaultText {
    color: gray;
}

.bugSummary {
  &:before {
    content: " ";
  }
}

.bugLink {
  padding-right: .3em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.assignedToHeader {
  font-style: italic;
}

.bug td {
  vertical-align: top;
  padding: 0 0 0 0;
}

#networkStatus {
  font-style: italic;
}
